
* {
	margin: 0;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
}

.clearfix:before, 
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;

}

#header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height:100px;
	background-color: rgba(18, 42, 47, 0.6);

}

.logo {
	float:left;
}
.firstnav {
	float: right;
	padding-top: 40px;
}



.firstnav li {
	float:left;
	margin-right: 40px;
	list-style-type: square;
	color: #ffe600;
}

.firstnav a{
	text-transform: uppercase;
	font: 14px  Arial, sans-serif;
	color: #fff;
}

.firstnav a:hover {
	color:#ffe600;
 }

.firstnav li:last-child {
	margin-right: 0;
}


#wrapper {
	
}

#home {
	background: #11343a;
	height: 1050px;
	text-align: center;
	color: #fff;
	padding-top: 100px;
}

#home h1 {
	font: bold 60px Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 40px;
}

#slaid {
	background: rgba(18, 42, 47, 0.3);
	height: 370px;
	margin-top: 290px;
	
}

#left {
	margin-top:170px;
	float:left; 
}

#right {
	margin-top:170px;
	float: right;
}

.btn {
	background: #ffe600;
	text-transform: uppercase;
	color: black;
	padding: 20px 50px;
	display: inline-block;
	font: bold 24px Arial, sans-serif;
	border-radius: 4px;
}

.btn:hover {
	background:#fff;
	color: #ffe600;
}
.box{
	padding-top: 60px;
	padding-bottom: 70px;
	text-align: center;
}



h1.titleblack {
	margin-bottom: 10px;
	text-transform: uppercase;
	font: bold, sans-serif;
	color: black;
}
h3.titleblack {
	margin-bottom: 10px;
	text-transform: uppercase;
	font:  18px/18px  sans-serif;
	color: black;
}
h2.titleblack{
	margin-bottom: 10px;
	text-transform: uppercase;
	font:  bold 18px/18px  sans-serif;
	color: black;
}
.descr {
	margin-top: 15px;
	font-size: 16px;
	color: black;
	line-height: 1.5;
}

.services-wrap {
	padding-top: 60px;
}

.services-item{
	float:left;
	width: 24%;
	padding-top:  20px;
	padding-right:  6px;
}
.services-item p{
	font-size: 16px;
}
.services-item h2 {
	padding-top: 30px;
}

.services2 {
	background-color: #131a1d;
}

.servicesimg:hover {
	opacity: 0.2;
	border: solid 2px black;
	border-radius: 70px;
}

h1.titlewhite {
	margin-bottom: 10px;
	text-transform: uppercase;
	font: bold, sans-serif;
	color: #ffe600;
}
h3.titlewhite {
	margin-bottom: 10px;
	font:  18px/18px  sans-serif;
	color: #fff;
}
h2.titlewhite {
	margin-bottom: 10px;
	text-transform: uppercase;
	font:  bold 18px/18px  sans-serif;
	color: #fff;
}
.services2 p {
	color: #fff;
	padding-top: 25px;
}

.services-item2 {
	float:left;
	width: 16%;	
	padding-right: 4px;
}
.iconimg {
	height: 80px;
}



.portfolio {
	padding: 60px 240px 80px 240px;
}

.portfolio li {
	float:left;
	margin-right: 40px;
	list-style-type: square;
	color: #ffe600;
}


.portfolio li p {
	text-transform: uppercase;
	font: bold 16px  Arial, sans-serif;
	color: #515151;
	cursor: pointer;
}

.portfoli p:hover {
	color: #ffe600;
}

.p-table {
	border-collapse : collapse;
	text-align: center;
}

.hover {
	position: relative;
	width: 320px;
	height: 250px;
	
}

.hover2 {
	position: absolute;
	display: none;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	background: url(images/Mask.png);
	opacity: 0.9;
}

.hover2 h2 {
	padding-top: 110px;
	font-size: 25px;
}

.hover:hover .hover2{
	display: block;
}

.btn2 {
	background: #ffe600;
	text-transform: uppercase;
	color: #fff;
	padding: 20px 45px;
	display: inline-block;
	font: bold 18px Arial, sans-serif;
	border-radius: 4px;
}

.btn2:hover {
	background: black;
	color: #ffe600;
	cursor: pointer;
}



.box1{
	padding-bottom: 50px;
	padding-top: 65px;
	text-align: center;
}
.numbers {
	border: 2px solid #ffe600;
	color: #ffe600;	
	text-transform: uppercase;
	font: bold 16px  Arial, sans-serif;
	display: inline-block;
	width: 20%;
	height: 140px;
	margin-right: 30px;
}

.numbers h1 {
	padding-top: 35px;
	color: #fff;
}

.num div:last-child {
	margin-right: 0;
}

.num {
	padding-top: 60px;
}

.about {
	padding-top: 100px;

}

.icon {
	display: inline-block;
	margin-right: 25px;
	margin-top:20px;
	vertical-align: top;
}



div.descr {
	display: inline-block;	
	height: 125px;
	width: 40%;
}

div.descr p {
	text-align: left;
}
#team {
	background-color: #fbfbfb;
	padding-bottom: 0;
}

.team-item {
	display: inline-block;
	width: 270px;
	padding: 60px 25px;
}
.team-name {
	background-color: #fff;
	border-bottom: solid 2px #dfe4e5;
}
.team-name h3 {
	padding-top: 10px;
	color: #ffe600;
}

.team-member {
	background: #131316;
	text-align: left;
}

.team-member h2{
	color: #ffe600;
	padding-top: 60px;
	padding-left: 200px;
}

.team-member p {
	color: #fff;
	padding-left: 200px;
}

.social {
	border: 2px solid #fff;
	border-radius: 4px;
	width:38px;
	height: 38px;
	display: inline-block;
	text-align: center;
	margin-right:15px;
}

.socialall {
	margin: 25px 0 0 220px;
	padding-bottom: 40px;

}


.social img {
	padding-top: 12px;

}

.social:hover {
	background-color: #ffe600;
}
#arrowTeam {
	width: 59px;
	height: 20px;
	padding-left: 30%;
}

#skills {
	background: #131a1d;
}

.canvas {
	display: inline-block;
}

#skills h1 {
	padding-top: 60px;
	padding-bottom: 25px;
}

.skills {
	display: inline-block;
	width: 240px;
}

.skills h2 {
	color: #ffe600;
	padding-top: 15px;
}
.brands {
	padding-top: 70px;
	padding-bottom: 120px;
}
.brand {
	height: 100px;
	width: 18%;
	background: center no-repeat;
	display: inline-block;
	vertical-align: middle;
}

#comentscont {
	text-align: center;
	width: 2200px;
    position: relative;
    left: 0px;
    transition: left .5s ease-in-out;
}
.content {
    float: left;
    width: 550px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;
}
#coments p {
	padding-top: 40px;
	padding-bottom: 20px;
	color: #fff;
	font:  18px/18px  sans-serif;
}
#coments h2 {
	padding-top: 30px;

}


#coments {
    width: 550px;
    height: 350px;
    overflow: hidden;

}
#nLinks {
    text-align: center;
    width: 550px;
}
#nLinks ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
 }
#nLinks ul li {
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #ffe600;
    padding: 5px;
    border: black 5px solid;
 }
#nLinks ul li:hover {
    background-color: #FFFF00;
 }
#nLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
 }
 #nLinks ul li.active:hover {
    background-color: #484848;
   color: #FFFFFF;
 }

 #comenters {
 	background: #131a1d;
}

#mycont {
	padding-left: 30%;
}


.contact-wrap {
	padding-top: 60px;
	
}

.contact-item{
	float:left;
	width: 30%;
	padding-top:  20px;
	padding-right:  6px;
}

.contact-item h2{
	padding-top: 30px;
}

 #send input {
   display: inline-block;
   margin-bottom: 10px;  
   width: 25%;
   height: 60px;
   margin-right: 20px;
    }

textarea {
	width: 90%;
	height: 220px;
}
.err {
    background: red;
    }

 #form {
 	color: #131a1d;
 }  
 #arrowtop {
 	height: 60px;
 	width: 60px;
 	background: #ffe600;
 	margin-left: 47%;
 } 
 #arrowtop:hover {
 	background: #ffb800;
 }
#arrowtop img {
	padding-top: 20px;
}

 #last {
 	background: black;
 	}

 #last .socialall {
 	margin-left: 0;
 }	